@import "tailwindcss";

@font-face {
  font-family: 'Chinese Rocks';
  src: url('./assets/fonts/chinese-rocks-rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Aplicar la fuente a todo el HTML y body */
html, body, #root {
  height: 100%;
  background-color: black;
  font-family: 'Chinese Rocks', sans-serif; /* <- aquí se aplica globalmente */
  color: white; /* opcional para asegurar que el texto sea visible sobre fondo negro */
}
header{
  @apply font-bold
}
nav a{
  width: 150px;
  text-align: center;
}
.shadow-red:hover{
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 0, 0.862));
}
.gradient-red{
  background: radial-gradient(circle, rgba(255, 0, 0, 0.15) 0%, rgba(0, 0, 0, 1) 70%);
}
.gradient-green{
  background: radial-gradient(circle, rgba(0, 255, 8, 0.15) 0%, rgba(0, 0, 0, 1) 70%);
}
.gradient-yellow{
  background: radial-gradient(circle, rgba(255, 247, 0, 0.15) 0%, rgba(0, 0, 0, 1) 70%);
}
.gradient-blue{
  background: radial-gradient(circle, rgba(13, 0, 255, 0.15) 0%, rgba(0, 0, 0, 1) 70%);
}
.gradient-orange{
  background: radial-gradient(circle, rgba(255, 140, 0, 0.15) 0%, rgba(0, 0, 0, 1) 70%);
}
.gradient-violet{
  background: radial-gradient(circle, rgba(255, 0, 187, 0.15) 0%, rgba(0, 0, 0, 1) 70%);
}
.background-galaxy{
  background: #4800ff80;
  background: linear-gradient(90deg, rgba(72, 0, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.background-galaxy-hover{
  background: linear-gradient(90deg, rgb(8, 0, 28) 0%, rgba(0, 0, 0, 0) 100%);

}